.customPosition {
  bottom: 5%;
}

.linksDecol {
  color: black;
  text-decoration: none !important;
}

.linksDecol:hover {
  color: black;
  cursor: pointer;
  text-decoration: none !important;
}

.sidebar {
  width: 16.5%;
}

@media only screen and (max-width: 1220px) {
  .sidebar {
    width: 19%;
  }
}

@media only screen and (min-width: 1921px) {
  .sidebar {
    width: 12%;
  }
}

.title:hover {
  box-shadow: 5px 5px 2px lightblue;
}
