.retweet {
  min-height: 15px;
}

.customPosition-1 {
  top: 0;
}
.customPosition-2 {
  top: 0;
  left: 15%;
}
.customPosition-3 {
  top: 0;
  left: 30%;
}
.customButton {
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

/* Hover underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
